@import url('https://fonts.googleapis.com/css?family=Lora|Titillium+Web&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Titillium Web', sans-serif;
  color: #2A2A2A;
}

.page {
  padding: 20px;

  background: #FFF2FD;

  min-height: calc(100vh - 54px);
}
